# Byte-compiled / optimized / DLL files
aws/__pycache__/
aws/lib/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Logs:
*.log

# PyCharm ide files
.idea/

# tests (isn't ready for now)
tests/
debug/
aws/microservices/tests.py

# cache db
cache.sqlite3